receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024
  
  resource:
    attributes:
      - key: service.environment
        value: development
        action: upsert
      - key: deployment.environment
        value: development
        action: upsert

exporters:
  # Export to Elasticsearch with APM data stream naming
  elasticsearch:
    endpoints: ["http://elasticsearch:9200"]
    traces_index: traces-apm-default
    logs_index: logs-apm.app-default
    mapping:
      mode: ecs
    
  debug:
    verbosity: detailed
    sampling_initial: 5
    sampling_thereafter: 200

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [resource, batch]
      exporters: [elasticsearch, debug]
    logs:
      receivers: [otlp]
      processors: [resource, batch]
      exporters: [elasticsearch, debug]
